

body.single-post {

	#content.site-content {
		width: 100%;
		max-width:none;
	}



	.site-content{

		blockquote, 
		.wp-caption,
		img.size-full, 
		img.size-large, 
		img.size-medium{
			margin: 7px auto 7px auto;
			&.alignright{
				margin: 7px auto 7px auto;
				float: none;
			}
			&.alignleft{
				margin: 7px auto 7px auto;
				float: none;
			}
		}
	}


	.entry-content,
	.entry-summary,
	.entry-meta,
	.post-navigation .nav-links,
	.comments-area .comment-list,
	.comments-area .comments-title,
	.comment-respond,
	.page-content {
		margin: 0 auto;
		max-width: 750px;
		// border: 1px dashed red;
		&.full{
			padding: 0 20px;
			max-width: 1600px;
		}
	}


	.fb-comments{
		max-width: 750px;
		margin: 0 auto 40px;
		display: block;
		&.full{
			padding: 0;
			max-width: 1200px;
		}
	}



	article.post {
		width: 100%;
		max-width:none;
		position: relative;
		margin-bottom: 0;


		.entry-header{
			// margin: 0 auto;
			margin-top: 400px;
			background: $siteBgColor;
			background: rgba($siteBgColor, .95);
			max-width: none;
			padding-top: 1px;

			.entry-title{
				text-align: center;
				margin: 30px auto 20px;
			}
			.entry-meta{
				text-align: center;
				max-width: 750px;
				background: transparent;
				margin-bottom: 10px;

				&>span{
					margin: 5px;
				}
			}
		} //.entry-header



		.post-thumbnail{
			width: 100%;
			height: 525px;
			overflow: hidden;
			position: fixed;
		}

		.entry-title{
			text-align: center;
			margin: 30px auto;
		}
		.entry-meta{
			text-align: center;
		}

		.entry-content{
			position: relative;
			background: $siteBgColor;

		}


		h1,h2,h3,h4,h5,
		p{
			max-width: 750px;
			display: block;
			margin: 20px auto;
			padding: 0;

			&.size-full,
			&.full-width,
			&.fullwidth,
			&.full{
				max-width: none;
			/* border: 1px solid orange; */
			}


			&>a{
				margin: 0;
				// display: block;
				padding: 0;
				&>img{

				}
			}
		}

		iframe{
			display: block;
			margin: 0 auto;
		}

		embed, object, video{
			margin: 20px auto;
			display: block;
		}
		
	} //article.post

	.scroll-area{
		width: 100%;
		background: $siteBgColor;
		position: relative;
		padding-bottom: 48px;
		margin-top: -1px;
	}

	.site-content .entry-meta{
		background: transparent;
	}




	.full-width .site-content {
		.hentry.has-post-thumbnail:first-child {
			// margin-top: -72px;
		}
	}

	nav.navigation.post-navigation {
		max-width: none;
		border: none;
		position: relative;
		background: $siteBgColor;
		margin: 0 auto;
		padding-top: 20px;
		// max-width: 1600px;
	}

	.nav-links{
		// border: 1px solid rgba(0, 0, 0, 0.1);


		a{
			max-width: 48%;
			display: inline-block;
			padding: 10px;
			border: none;
			border: 1px solid #eee;
			border: 1px solid rgba(0, 0, 0, 0.1);
			margin-bottom: 1px;
			&:hover{
				background: $mainGrey;
				color: white;
			}

			&:first-child{

			}

			&:last-child{
				text-align: right;
				float: right;
			}
		}
	}

	.comments-area{
		background: $siteBgColor;
		max-width: none;
		width: 100%;
		position: relative;
		padding: 35px;
		margin: 0 auto;
		// max-width: 1600px;

	}

	.form-allowed-tags{
		display: none;
	}
	




}