

body.single-post {

	#content.site-content {
		width: 100%;
		max-width:none;
	}

	article.post {
		width: 100%;
		max-width:none;
		position: relative;
		margin-bottom: 0;

		.entry-header{
			// margin: 0 auto;
			margin-top: 400px;
			background: #e0e0e0;
			background: rgba(#e0e0e0, .95);
			max-width: none;
			padding-top: 1px;

			.entry-title{
				text-align: center;
				margin: 30px auto 20px;
				max-width: 750px;
			}
			.entry-meta{
				text-align: center;
				max-width: 750px;
				background: transparent;
				margin-bottom: 10px;

				&>span{
					margin: 5px;
				}
			}
		} //.entry-header

		.entry-content,
		.entry-summary,
		.entry-meta,
		.page-content {
			margin: 0 auto;
			max-width: 750px;
		}

		.post-thumbnail{
			width: 100%;
			height: 400px;
			overflow: hidden;
			position: fixed;
		}

		.entry-title{
			text-align: center;
			margin: 30px auto;
		}
		.entry-meta{
			text-align: center;
		}

		p{
			max-width: 750px;
			// border: 1px solid orange;
			display: block;
			margin: 20px auto;
			padding: 0 65px;


			&>a{
				margin: 0 -65px;
				display: block;
				padding: 0;
				&>img{

				}
			}
		}
		
	} //article.post

	.scroll-area{
		width: 100%;
		background: #e0e0e0;
		position: relative;
		padding-bottom: 48px;
		margin-top: -1px;
	}




	.full-width .site-content {
		.hentry.has-post-thumbnail:first-child {
			// margin-top: -72px;
		}
	}

	nav.navigation.post-navigation {
		max-width: none;
		border: none;
		position: relative;
		background: white;
		margin: 0;
	}

	.nav-links{
		// border: 1px solid rgba(0, 0, 0, 0.1);

		a{
			max-width: 48%;
			display: inline-block;
			padding: 10px;
			border: none;
			border: 1px solid #eee;
			border: 1px solid rgba(0, 0, 0, 0.1);

			&:last-child{
				text-align: right;
				float: right;
			}
		}
	}

	.comments-area{
		background: white;
		max-width: none;
		width: 100%;
		position: relative;
		padding-top: 48px;
		margin-top: -1px;
	}

	




}