$whiteHoverText: #ddd;


body.home,
body.archive,
body.category{

	// border: 2px dashed orange;
	
	.archive-title, .page-title{
		font-size: 3em;
		text-align: center;
		font-weight: 100;
	}

	article.small{
		&.has-post-thumbnail{
			img{
				-webkit-transition: all .5s ease-in-out;
				-moz-transition: all .5s ease-in-out;
				-ms-transition: all .5s ease-in-out;
				-o-transition: all .5s ease-in-out;
				transition: all .5s ease-in-out;

				-webkit-transform: scale(1.05);
				-moz-transform: scale(1.05);
				-ms-transform: scale(1.05);
				-o-transform: scale(1.05);
				transform: scale(1.05);

			}
		}
	}


	article.big,
	article.small{
		vertical-align: top;
		&.has-post-thumbnail{
			// border-color: grey;
			img{
				width: auto;
				height: 250px;
				max-width: none
			}
		}


		
		&:hover{
			img{
				-webkit-transform: scale(1.0);
				-moz-transform: scale(1.0);
				-ms-transform: scale(1.0);
				-o-transform: scale(1.0);
				transform: scale(1.0);
			}
			.post-info{
				bottom: 0;
			}
		}




		// ________________children of article.small

		.post-info{
			background: #000;
			background-color: rgba(0,0,0,.5);
			color: #FFF;
			padding-top: 20px;
			max-height: 250px;
			top: auto;
			bottom: -250px;
			padding: 0;

			/*border: 1px solid lime;*/
		}



		header.entry-header{
			background: transparent;
			padding: 0;
		}
		h1.entry-title{
			font-size: 24px;
			margin: 0;
			padding: 10px 10px 7px;
			a{
				padding: 0;
				display: block;
				&:hover{
					color: $whiteHoverText;
				}
			}
		}
		header.entry-header a{
			color: #FFF;
		}


		.excerpt{
			font-size: 13px;
			line-height: 18px;
			background-color: transparent;
			display: none;
			p{
				margin-bottom: 0;
			}
		}

		.excerpt,
		.entry-meta{
			&,
			& a{
				color: #333;
				font-weight: lighter;

			}
		}

		
		.entry-meta{
			background-color: transparent;
			border-top: 1px solid #666;
			border-top: 1px solid rgba(#666, .5);
			margin-bottom: 0;
			padding: 5px 0;

			&>span{
				display: inline-block;
				width: 48%;
				margin: 1px;
				// background: lightyellow;
				// text-align: center;
				text-indent: 5px;
				a{
					&:hover{
						color: $whiteHoverText;
					}
				}
			}
		}
		.comments-link{
			display: block;
			margin-top: 5px;
		}

		footer.entry-meta{
			background-color: transparent;
			/*border: 1px solid lime;*/
			display: none;
		}
	}


	article.big{
		/* only used on the home page */
		width: 100%;
		position: relative;
		overflow: hidden;
		margin-top: 0px !important;
		margin-bottom: 0;


		.post-thumbnail{
			overflow: hidden;

			img{
				width: 100%;
				height: auto;
				position: fixed;
				top: 0;
			}
		}
		div.post-info{
			position: absolute;
			top: auto;
			bottom: 0;
			left: 50%;
			width: 487px;
			margin-left: -477px;		
		}
		
	}

	.scroll-area{
		background: $siteBgColor;
		padding-top: 20px;
		position: relative;
		margin-bottom: -48px;
	}
	
	.site-footer{
		position: relative;
	}



}