$whiteHover: #ddd;


body.home,
body.archive,
body.category{

	// border: 2px dashed orange;
	
	.archive-title, .page-title{
		font-size: 3em;
		text-align: center;
	}




	article.big,
	article.small{
		vertical-align: top;


		&.has-post-thumbnail{
			// border-color: grey;

			img{

				width: auto;
				height: 250px;
				max-width: none
			}
		



		}


		
		&:hover{
			img{
				-webkit-transform: scale(1.0);
				-moz-transform: scale(1.0);
				-ms-transform: scale(1.0);
				-o-transform: scale(1.0);
				transform: scale(1.0);
			}
			.post-info{
				bottom: 0;
			}
		}




		// ________________children of article.small

		.post-info{
			background: #000;
			background-color: rgba(0,0,0,.5);
			color: #FFF;
			padding-top: 20px;
			max-height: 250px;
			top: auto;
			bottom: -250px;
			padding: 0;

			/*border: 1px solid lime;*/
		}



		header.entry-header{
			background: transparent;
			padding: 0;
		}
		h1.entry-title{
			font-size: 24px;
			margin: 0;
			padding: 10px 10px 7px;
			a{
				padding: 0;
				display: block;
				&:hover{
					color: $whiteHover;
				}
			}
		}
		header.entry-header a{
			color: #FFF;
		}


		.excerpt{
			font-size: 13px;
			line-height: 18px;
			background-color: transparent;
			display: none;
			p{
				margin-bottom: 0;
			}
		}

		.excerpt,
		.entry-meta{
			&,
			& a{
				color: #333;
				font-weight: lighter;

			}
		}

		
		.entry-meta{
			background-color: transparent;
			border-top: 1px solid #666;
			border-top: 1px solid rgba(#666, .5);
			margin-bottom: 0;
			padding: 5px 0;

			&>span{
				display: inline-block;
				width: 48%;
				margin: 1px;
				// background: lightyellow;
				// text-align: center;
				text-indent: 5px;
				a{
					&:hover{
						color: $whiteHover;
					}
				}
			}
		}
		.comments-link{
			display: block;
			margin-top: 5px;
		}

		footer.entry-meta{
			background-color: transparent;
			/*border: 1px solid lime;*/
			display: none;
		}
	}


	article.small{
		&.has-post-thumbnail{
			img{
				-webkit-transition: all .5s ease-in-out;
				-moz-transition: all .5s ease-in-out;
				-ms-transition: all .5s ease-in-out;
				-o-transition: all .5s ease-in-out;
				transition: all .5s ease-in-out;

				-webkit-transform: scale(1.05);
				-moz-transform: scale(1.05);
				-ms-transform: scale(1.05);
				-o-transform: scale(1.05);
				transform: scale(1.05);

			}
		}
	}

	article.big{
		width: 100%;
		max-height: 400px;
		position: relative;
		overflow: hidden;
		margin-top: 0px !important;

		.post-thumbnail{

			img{
				width: 100%;
				height: auto;
			}
		}
		div.post-info{
			position: absolute;
			top: auto;
			bottom: 0;
			left: 50%;
			width: 477px;
			margin-left: -487px;		
		}
		
	}



	// -------------------------------ads

	div.ad{
		margin: 10px;
		display: inline-block;
		vertical-align: top;
		background-color: $mainGrey;
		border: 2px dashed transparent;
		border: none;
		overflow: hidden;
	}

	/*727x90*/
	div.ad1,
	div.ad727x90{
		// width: 950px;
		width: percentage(950/975);
		height: 110px;
		display: block;

		// max-width: 975px;
		border-color: red;
		.ad-inner-wrap{
			width: 727px;
			height: 90px;
			margin-top: 10px;

		}
	}
	/*300x250*/
	div.ad2,
	div.ad300x250{
		width: 300px;
		height: 250px;
		border-color: green;
		.ad-inner-wrap{
			width: 300px;
			height: 250px;
		}
	}
	/*727x400*/
	div.ad3,
	div.ad727x400{
		// width: 950px;
		width: percentage(950/975);
		height: 420px;
		display: block;
		border-color: blue;
		.ad-inner-wrap{
			width: 727px;
			height: 400px;
			margin-top: 10px;
		}
	}

	.ad .ad-inner-wrap {
		margin: 0;
		display: block;
		width: 100%;
		text-align: center;
		color: white;
		// background-color: darkgrey;
		vertical-align: middle;
		margin: 0 auto;
		font-size: 16px;
/* 		text-indent: -9999px; */
	}

}