#lang_sel{

  // border: 1px solid red;
  display: inline-block;
  float: left;
  height: 48px;
  	ul li ul{
			top: 45px;
  	}

  &:hover{
  	a{

  	}
  	ul li ul{
  		display: block;
  		visibility: visible;
  	}
  }
	
	a{
		background-color: $mainGrey;
		background-color: #1f1f1f;
		background-color: transparent;
		border: 1px solid transparent;
		&.lang_sel_sel{
			background: black;
			border: 1px solid transparent;
		}
	}

	li{
		width: 48px;
		// background: $mainGrey;
		// background: transparent;
		
		a{
			border-color: #1f1f1f black black black;
			padding: 9px 10px 9px 13px;
			background: transparent;
			max-height: 48px;
		}
	}


}
#lang_sel ul ul{
	width: 48px;
	z-index: 12;
	border: none;
}

#lang_sel ul ul a, 
#lang_sel ul ul a:visited{
		padding: 12px 10px 12px 13px;
		display: block;
		background-color: #1f1f1f;
		border-color: #1f1f1f black black black;
}

#lang_sel :hover > a{
	// background: darken($mainGrey, .1);
	border-color: white white #1f1f1f white;
	background-color: #1f1f1f;
} 
#lang_sel ul ul :hover > a{
	border-color: black;
  background-color: #1f1f1f;
}



#lang_sel_footer{
	position: relative;
	background: black;
	border: none;
}