$lightBgColor: #b2b2b2;
$contentMaxWidth: 975px;


/**************************************** really big *************************************/
@media all and (min-width: 1308px) {

	// body.home{
	// 	border: 8px dashed pink;
	// 	article.big{
	// 		height: 750px;
	// 		.post-thumbnail{
	// 			height: 750px;
	// 		}
	// 	}
	// }
}


/******************************************* big ****************************************/
@media all and (min-width: 1008px) {

	
	#wpadminbar,
	.site-header{
		top: 0;
		position: fixed;
	}

	.admin-bar{
		.site-header{
			top: 48px;
		}
		#wpadminbar{
			top: 0;
		}
	}


	ul.gordon-menu {
		max-height: 48px;
		overflow: hidden;
	}

	body.home{
		#content{
			width: 100%;
			max-width: none;
			position: relative;
		}

		.latest-article{
			img{
				width: 100%;
			}
		}

		.other-articles{
			max-width: $contentMaxWidth;
			margin: 0 auto;
		}

		article.big{
			height: 400px;
			.post-thumbnail{
				height: 400px;
			}
		}


	}

	body.page{
	}

	.site {
		
		max-width: 2400px;
		position: relative;
	}

	.site:before{ 
		display: none;

	}


	.site-header,
	.header-main{
		max-width: 2400px;
	}


	.site-main{
		padding-top: 0;
		// margin-top: 49px;	
		background-color: $siteBgColor;
	}

	.site-content,
	#content{
		max-width: $contentMaxWidth;
		margin: 0 auto;

	}




	.site-navigation,
	.primary-navigation{
		float: left;
		margin: 0 1px 0 5px;
	}


	.content-area{
		padding-top: 0;
	}


	#secondary{
		display: none;
	}



	.page-title,
	.archive-title{
		font-size: 32px;
		text-align: center;
	}



	article.small{
		display: inline-block;
		width: 300px;
		height: 250px;
		overflow: hidden;
		position: relative;
		margin: 10px 10px;
		background: $mainGrey;

		.post-info{
			position: absolute;
			top: auto;
			bottom: -250px;
			width: 100%;
		}

		&:hover {
			img{
				-webkit-filter: blur(2px);
				-moz-filter: blur(2px);
				-ms-filter: blur(2px);
				-o-filter: blur(2px);
				filter: blur(2px);
			}
			.post-info{
				top: auto;
				bottom: 0;
				-webkit-transition: bottom .3s ease-out .12s;
				-moz-transition: bottom .3s ease-out .12s;
				-ms-transition: bottom .3s ease-out .12s;
				-o-transition: bottom .3s ease-out .12s;
				transition: bottom .3s ease-out .12s;
			}
		}
	}

}



/******************************************* medium and small ****************************************/
@media screen and (max-width: 1007px){



	.archive-header{
		&,
		.full-width &{
			margin: 20px 0;
		}
	}

	body.home,
	body.archive,
	body.category{

		overflow-x: hidden;
		
		div.ad{
			display: block;
			width: 100%;
			margin: 45px 0;
			// background: transparent;
			background-color: $lightBgColor;
			background-color: #eee;
		}

		article.small{
			display: block;
			position: relative;
			// margin: 0;
			margin: 10px auto;
			margin: 20px 10px;
			padding: 10px;
			vertical-align: top;
			background-color: $lightBgColor;
			height: 250px;


			img{
				height: auto;
				width: 100%;
				-webkit-transform: scale(1.0);
				-moz-transform: scale(1.0);
				-ms-transform: scale(1.0);
				-o-transform: scale(1.0);
				transform: scale(1.0);
			}

			.post-thumbnail,
			.post-info{
				display: inline-block;
				vertical-align: top;
			}

			.post-thumbnail{
				overflow: hidden;
				width: 49%;
				background: grey;
			}

			.post-info{
				color: #000;
				height: auto;
				margin: 0 !important;
				background: transparent;
				bottom: 0;
				width: 50%;
			}

			header.entry-header{
				/*border: 1px solid blue;*/
				margin: 0 !important;
				background-color: transparent;
				color: #000;
				height: 250px;
				position: relative;
			}
			header.entry-header a{
				color: #000;
			}

			.excerpt{
				display: block;
				padding: 10px;
			}


			.entry-meta{
				position: absolute;
				background: transparent;
				bottom: 5px;
				height: 48px;
				width: 100%;
				background-color: $lightBgColor;
				max-width: none;
			}


		}

	}


	body.home{

		article.big{
			div.post-info{
				margin: 0;
				left: 0;
				right: 0;
				width: auto;
			}
		}
	}
}


/******************************************* medium only ****************************************/
@media screen and (max-width: 1007px) and (min-width: 590px) {
	
	body.home,
	body.archive,
	body.category{


		
		article.small{
			padding-left: 0;

			.post-info{

			}

			header.entry-header{
			}

			.excerpt{
				max-height: 126px;
				padding: 0 10px;
				overflow: hidden;
			}

			.post-thumbnail{
				max-width: 430px;
			}

			img{
				margin: 0 auto;
			}
		}


		div.ad{
			display: block;
		}
	}

	article.big{
		height: 400px;
		.post-thumbnail{
			height: 400px;
		}
	}

}


/******************************************* mobile nav menu ****************************************/
@media screen and (max-width: 782px) {
	
	.right-nav{
		right: 48px;
	}

	.login-form{
		right: -48px;
		.logout{
			margin-right: 48px;
		}
	}

	#wpadminbar,
	.site-header{
		top: 0;
		position: fixed;
	}

	.admin-bar{
		.site-header{
			top: 46px;
		}
		#wpadminbar{
			top: 0;
		}
	}



	ul.gordon-menu {
		position: absolute;
		z-index: 50;
		overflow: visible;
		max-height: none;
		// border: 1px solid lime;
		width: 100%;
		height: auto;
		background: lighten( $mainGrey, 8%);
		display: none;
		&.show{
			display: block;
		}


		li{
			display: block;
			// background: rgba( orange, .5);
			width: 100%;
			border-top: 1px solid black;

		}

		a{
			padding: 13px 0;
		}

		li.menu-item{
			a{
				padding-left: 10px;
			}
			&:hover{
				// border: 1px dashed purple;
				ul.sub-menu{
					max-height: 900px;
				}
			}
		}

		ul{
			position: relative;
			padding-left: 20px;
			// background: gold;
		}

		ul.sub-menu{
			// overflow: visible;
			z-index: 55;
			top: 0;
			max-height: 0;
			position: relative;
			margin-left: 0;
			padding: 0;
			width: 100%;
			a{
				padding-left: 25px;
				width: 100%;
			}
		}


		ul.category{
			// background: purple;
			// opacity: .7;
			display: none;
		}
	}

	html #wpadminbar{
		position: fixed;
	}

	.primary-navigation{
		// margin-top: 48px;
		padding-top: 48px;
	}

	.menu-toggle{
		display: block !important;
		// border: 2px dashed orange;
		border-right: 1px solid black;
	}


	body.category {

		.site-main{
			margin-top: 48px;
		}

		article.small{
			// border: 2px dashed lime;

			.entry-meta{
				font-size: 10px;
				// background: lime;
			}
		}
	}

}


/******************************************* small ****************************************/
@media screen and (max-width: 590px) {

	html{
		// border: 10px dashed yellow;
	}

	body.home,
	body.archive,
	body.category{

		.archive-header{
			margin: 24px 0;
			text-align: center;
		}

		div.ad{
			display: block;
			width: 100%;
			margin: 25px 0;
		}

		article.small{
			display: block;
			width: 100%;
			margin: 10px 0 !important;
			padding: 0;
			height: auto;


			&.has-post-thumbnail {
				img{
					display: block;
					width: 100%;
					height: auto;
				}
			}


			.post-thumbnail,
			.post-info{
				width: 100%;
				display: block;
				vertical-align: top;
				float: none;
				position: relative;
			}


			.post-thumbnail{
				height: 250px;
			}

			.post-info{
				display: block;
				
				width: 95%;
				margin: 10px 10px;
				top: auto;
				bottom: auto;
				padding: 5px;
				height: auto;
				max-height: none;
			}

			header.entry-header{
				max-width: none;
				height: auto;
			}

			.excerpt{
			}

			.entry-meta{
				margin: 0;
				max-width: none;
				position: relative;

			}

		}
	}


	article.big{
		height: 350px;
		.post-thumbnail{
			height: 350px;
		}
	}


	body.single-post{
		.post-thumbnail{
			height: auto;
		}
		p{
			padding: 10px;

			&>a{
				margin: 0;
			}
		}
	}


}

