body, h1, h2, h3, h4, h5, h6{
	font-family: 'Open Sans', Arial, sans-serif;
}

a{
	color: $linkColor;
}


.content-area{
	padding-top: 3px;
}


ul.gordon-menu {
	li.menu-item{
		position: relative;
		display: inline-block;
		
		&:hover{
			a{
				background: lighten( $mainGrey, 8% );
				color: white;
			}
			.sub-menu{
				// display: block;
				max-height: 400px;
				-webkit-transition: max-height .3s ease-in-out .4s;
				-moz-transition: max-height .3s ease-in-out .4s;
				-ms-transition: max-height .3s ease-in-out .4s;
				-o-transition: max-height .3s ease-in-out .4s;
				transition: max-height .3s ease-in-out .4s;
			}
		}
	}


	li.category-container {
		position: initial;
		&:hover,
		&:focus{
			ul.category{
				max-height: 360px;
				background: white;
				background: rgba(white, .85);
				z-index: 20;
				padding-top: 10px;
				-webkit-transition: max-height .3s ease-in-out .4s, padding .2s ease-in-out .4s;
				-moz-transition: max-height .3s ease-in-out .4s, padding .2s ease-in-out .4s;
				-ms-transition: max-height .3s ease-in-out .4s, padding .2s ease-in-out .4s;
				-o-transition: max-height .3s ease-in-out .4s, padding .2s ease-in-out .4s;
				transition: max-height .3s ease-in-out .4s, padding .2s ease-in-out .4s;
			}
		}
		ul.category{
			background: white;
			background: rgba(white, .85);
			z-index: auto;
			width: 100%;
			left: 0;
			max-height: 0;
			padding-top: 0;
			padding-left: 10px;
			overflow: hidden;
			font-size: 13px;
			-webkit-transition: max-height .3s ease-in-out 0s, padding .2s ease-in-out 0;
			-moz-transition: max-height .3s ease-in-out 0s, padding .2s ease-in-out 0;
			-ms-transition: max-height .3s ease-in-out 0s, padding .2s ease-in-out 0;
			-o-transition: max-height .3s ease-in-out 0s, padding .2s ease-in-out 0;
			transition: max-height .3s ease-in-out 0s, padding .2s ease-in-out 0;


			li.article{
				display: inline-block;
				margin: 10px;
				background: $siteBgColor;

				

				&:hover, //...hover the main nav
				&.focus{
					// background: transparent;
				}

				a{
					width: 100%;
					padding: 4px;
					color: white;
					font-size: 12px;

					&:hover{
						background: transparent;
					}
					
				}
			}
		}
	} //...end li.category-container
	
	li.is-first{ //....the magazine articles need to be in the first slot
		position: initial;
		border: 1px dashed red;
		ul.sub-menu{
			/* width: 170px; */
			left: 0;
			right: 0;
			background: transparent;
			&>li a{
				width: 176px;
				border: 1px solid purple;
			}
		}
	}

	ul.sub-menu{
		// display: none;
		position: absolute;

		background: lighten( $mainGrey, 8% );
		-webkit-transition: max-height .3s ease-in-out .0s;
		-moz-transition: max-height .3s ease-in-out .0s;
		-ms-transition: max-height .3s ease-in-out .0s;
		-o-transition: max-height .3s ease-in-out .0s;
		transition: max-height .3s ease-in-out .0s;

		top: 48px;
		left: 0px;
		width: auto;
		max-height: 0;
		overflow: hidden;

		&:hover{
			a{
				background: lighten( $mainGrey, 12%);
			}
		}
		

		li{
			display: block;
		}

		li.category-container { //....the third layer (III)
			// border-right: 4px solid white;
			&:hover,
			&:focus{
				// left: 200px;
				ul.category{
					max-height: 100%;
					opacity: 1;
				}
			}
			ul.category{
				top: 0;
				left: 170px;
				right: 0px;
				max-height: 0;
				width: auto;
				opacity: 0;
				padding: 0;
				padding: 10px;

				-webkit-transition: max-height .3s ease-in-out, opacity .2s ease-in-out;
				-moz-transition: max-height .3s ease-in-out, opacity .2s ease-in-out;
				-ms-transition: max-height .3s ease-in-out, opacity .2s ease-in-out;
				-o-transition: max-height .3s ease-in-out, opacity .2s ease-in-out;
				transition: max-height .3s ease-in-out, opacity .2s ease-in-out;
			}
		}
	}
}

.nav-article{
	width: 144px;
	height: 144px;
	overflow: hidden;
	position: relative;
	margin-bottom: 0;

	&:hover{
		.post-info{
			bottom: -80;
		}
	}

	.post-thumbnail{

	}

	.post-info{
		position: absolute;
		bottom: 0px;
		background: rgba(0,0,0,.5);
		width: 100%;

		-webkit-transition: bottom .3s ease-in-out;
		-moz-transition: bottom .3s ease-in-out;
		-ms-transition: bottom .3s ease-in-out;
		-o-transition: bottom .3s ease-in-out;
		transition: bottom .3s ease-in-out;
		}

}




// .nav-menu{
// 	.category{
// 		background: pink;
// 		right: 0;
// 		width: auto;
// 		.article{
// 			display: inline-block;
// 		}
// 	}
// }



.right-nav{
	float: right;
	position: relative;
}

.search-toggle,
.login-toggle{
	display: inline-block;
	border-left: 1px solid black;
	float: left;
	height: 48px;
	min-width: 48px;
	background: transparent;
	position: relative;



	&:hover,
	&.active{
		background-color: darken( $mainGrey, 3% );
	}

	a{
		color: #fff;
		padding: 10px;
		vertical-align: bottom;
		display: block;
		font-weight: lighter;
	}
}

.login-form{
	position: absolute;
	background: $mainGrey;
	right: 0;
	border: 1px solid black;
	z-index: 12;
	padding: 10px;
	color: white;
}



div.search-box-wrapper{
	padding-left: 0;
}

div.search-box{
	background-color: #333;
}

.search-box {
	.search-field {
		background-color: #fff;
		border: 0;
		float: right;
		font-size: 16px;
		padding: 2px 2px 3px 6px;
		width: 100%;
		margin-right: 10px;
	}
 }

// .wpadminbar,
.site-header{
	position: fixed;
}

.header-main{
	position: relative;
	// padding-left: 3px;
	background: $mainGrey;
	padding: 0;
}

.header-main .site-title{
	text-indent: -9999px;
	word-wrap: nowrap;
	top: -1px;
	margin-right: 25px;
	background: transparent url("/wp-content/themes/mtb_mag_v2/logo.png") 0 0 no-repeat;
	background-size: 100%;
	display: inline-block;
	vertical-align: top;
	width: 48px;
	height: 48px;
}

.primary-navigation {

	ul{
		li{
			&:hover, //...hover the main nav
			&.focus{
				background-color: rgb(143, 143, 143);
			}
			a{ //....the main nav link

			}
		}
		ul { //....the subnav
			a{ //.....the subnav link
				padding: 18px 12px;
				white-space: normal;
				width: 176px;
				padding: 7px 12px;
			}
		}
	}
}
.primary-navigation li:hover > a{
	background: white;
	color: $mainGrey;
}

.article-nav{
	max-height: 540px;
	overflow: hidden;

	article.small{
		width: 200px;
		height: 166px;
	}
}

.site{
	background: $siteBgColor;
}
.site-main{
	margin-top: 48px;
}


.archive-header{
	&,
	.full-width &{
		margin-top: $gutter + 40;
		background: $mainGrey;
		padding: 42px 0;
		width: 100%;
		max-width: none;
		color: white;
	}
}