$mainGrey: #4d4d4d;
$lightGrey: #D9D9D9;
$linkColor: #333;
$gutter: 25px;
$siteBgColor: #e0e0e0;
$adBgColor: #c7c7c7;
$gutterMargin: floor($gutter/2);


*{
	box-sizing: border-box;
}

/******************************************* all ****************************************/
@media all {
	@import "site-wrapper";
	@import "category";
	@import "article";
	@import "ads";
	@import "language";
}

@import "responsive";

.gordon{
	// background: pink;
}

.test{
	/*border: 5px dashed orange;*/
}

::selection {
	background: orange;
	color: #fff;
	text-shadow: none;
}


#content.featured-page{
	width: 100%;
	position: relative;
}



.post-excerpt{
	border: 1px solid green;
	width: 32%;
	display: inline-block;
	vertical-align: top;

}

.post-excerpt.last{
	/*border: 1px dashed green;*/
}
